@font-face {
    font-family: UniversNextPro;
    src: url(../fonts/UniversNextPro.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Alexandria;
    src: url(../fonts/Alexandria.ttf) format("truetype")
}

a {
    text-decoration: none;
}

body {
    background-color: #e4bfa5;
}

aside {
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: #ff6a00;
}

a:hover {
    color: #f26053;
}

a:active {
    color: #B07143;
}

header {
    background-image: url(../images/stormbg2.gif);
    height: 50px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: #ffffff50;
    height: 50px;
    width: fit-content;
    border-radius: 5px;
}

h1, h2 {
    font-family: UniversNextPro;
}

.outofbounds {
    margin-left: 10px;
}

p,
footer {
    font-family: Alexandria;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 125%;
}

article {
    background-color: #d8b59c;
    border-radius: 10px;
    width: auto;
    padding: 5px;
    margin-top: 10px;
}

.links {
    text-align: left;
}

.invert {
    filter: invert(100%);
}

.socialmedia-button {
    filter: saturate(100%) invert(84%) sepia(25%) saturate(501%) hue-rotate(329deg) brightness(89%) contrast(88%);
}

.socialmedia-button:hover {
    filter: saturate(100%) invert(84%) sepia(25%) saturate(501%) hue-rotate(329deg) brightness(89%) contrast(88%) brightness(75%);
}

footer {
    font-size: 75%;
    font-weight: bold;
}